<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link href="webjars/bootstrap/5.1.0/css/bootstrap.css" rel="stylesheet">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css} ">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script th:src="@{/webjars/jquery/3.5.1/dist/jquery.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.js}"></script>
	<script type="text/javascript" src="../static/js/script.js" th:src="@{js/script.js}"></script>

<meta charset="UTF-8">
<title>OASA Page</title>
<style type="text/css">
	body {background-color: MediumPurple;} 
	
</style>
</head>
<body>

<div class="form-group">
		<a href="/" th:href="@{/logout}">
			<button
				style="background-color: orangeRed; border: 2px solid orangeRed; border-radius: 4px; color: #fff; display: block; padding: 10px; position: absolute; top: 10px; right: 0;">Logout</button>
		</a> <br> <br> <br> <br>
	</div>
	
	<div class="form-group">
		<a href="/" th:href="@{/home}">
			<button
				style="background-color: lightSeagreen; border: 2px solid LightSeaGreen; border-radius: 4px; color: #fff; display: block; padding: 10px; position: absolute; top: 10px; right:-20;">Home</button>
		</a> <br> <br> <br> <br>
	</div>
	
	<h3>Manage Applications</h3>
	<div class="container">
<table class="table table-bordered">
<thead>

<th scope="row">name</th>
<th scope="row">last name</th>
<th scope="row">email</th>
<th scope="row">birthday</th>
<th scope="row">idNumber</th>
<th scope="row">AFM</th>
<th scope="row">AMKA</th>
<th scope="row">marital status</th>
<th scope="row">primary nationality</th>
<th scope="row">city</th>
<th scope="row">date of unemployment</th>
<th scope="row">photo</th>
<th scope="row">income</th>
<th scope="row">approved</th>
<th scope="row">approve</th>
</thead>
<tbody>



<tr th:each="app:${applications}"> 
<td th:text="${app.name}"></td>
<td th:text="${app.lname}"></td>
<td th:text="${app.email}"></td>
<td th:text="${app.birthDate}"></td>
<td th:text="${app.idNumber}"></td>
<td th:text="${app.AFM}"></td>
<td th:text="${app.AMKA}"></td>
<td th:text="${app.maritalStatus}"></td>
<td th:text="${app.primaryNationality}"></td>
<td th:text="${app.city}"></td>
<td th:text="${app.dateOfUnemployment}"></td>
<td><img th:src="@{${app.photosImagePath}}"width="100" height="60"></td>
<td th:text="${app.income}"></td>  
<td th:text="${app.approved}"></td>
<td><div class="form-group">
		<a href="/" th:href="@{/OASAPage/approvalForm/{id}(id=${app.id})}">
			<button
				style="background-color:blue; border: 2px solid blue; border-radius: 4px; color: white; display: block; padding: 6px; position: absolute;">Approve</button>
		</a> <br> <br> <br> <br>
	</div></td>
</tr>
</tbody>
</table>

</div>

</body>
</html>
